/cities/*/reads/*.gz
/cities/*/smk_output/*
/database/k2_viral_20260226/
.DS_Store
.idea/
.venv/
.snakemake/
report.txt
/viruses/NCBI/virus_data.csv
/viruses/NCBI/virus_data.tsv
/viruses/NCBI/virus_data.tsv.part
